body {
    background-color: skyblue;
}

.headline {
    text-align: center;
}

.card {
    background-color: white;
    padding: 10px 20px;
    margin: 20px auto;
    width: 33%;
}

.dayTime {
    text-align: right;
}

.dayTime h4{
    display: inline-block;
    margin: 0;
}